<center><p style="color: green"><%= notice %></p>
<br><br>

<table cellspacing ="50" width="700">
  

<tr>
<%= render @task %></tr>
<tr><td><%= link_to "Edit this task", edit_task_path(@task) %> </td>
<td><%= link_to "Back to tasks", tasks_path %></td></tr>

  
  <tr><td colspan="3"><center><%= button_to "Destroy this task", @task, method: :delete %></center></td></tr>

  </table>
</center>
